.topnav{
    background-color: white;
    overflow: hidden;
    /* border-bottom: solid 3px black; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.topnav a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
   
}

.topnav #home{
    float: left;
    font-size: 20px;
}

.topnav #loginsignup{
    color:tomato; 
}

.topnav a:hover {
    color: red;
   
}

body #title{
    font-size: 5em;
    text-align: center;
    font-weight: 1000em;
    line-height: 1.1;
    margin-bottom: 45px;
    letter-spacing: -2px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#getStartedButton{
    border-radius: 30px;
    border-color: tomato;
    border-style: solid;
    background-color: tomato;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    font-size: 20px;
    color: white;
}

#slogan{
    text-align: center;
    color:gray;
    padding-bottom: 30px;
    margin-bottom: 45px;
}

.topnav a.active{
    color: #04AA6D;
} 

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mainimage{
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
}

#buttonInfo{
    text-align: center;
    color:gray;
    padding-bottom: 30px;
    margin-bottom: 45px;
}

#underline{
    text-decoration: underline tomato;
}

.aesthetic{
    background-color: lightgray;
    border-radius: 8px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aesthetic h3{
    text-align: center;
    font-size: 30px;
}